<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {% if description %}
    <meta name="description" content="{{description}}" />
    <meta
      property="og:image"
      content="https://mods-aid.co.uk/static/img/mods-aid-share.jpg"
    />
    {% endif %} {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %} {% include "styles.css" %} {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{ css | cssmin | safe }}
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include "./partials/navbar.html" %} {{ content | safe }} {% include
    "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <!-- Needed only if you are using Netlify Identity feature -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"
      integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      let path = document.querySelector("#stroke");
      const pathLength = path.getTotalLength();

      console.log(path, gsap);
      // set is handy for this
      gsap.set(path, {
        strokeDasharray: pathLength + 20, // add a bit more gap
        strokeDashoffset: pathLength + 30, // offset the gap
      });

      gsap.set("#logo, .intro-section", {
        opacity: 1,
      });

      let tl = gsap.timeline({ delay: 0.2 });
      // staggers are nice for this kind of thing - super concise

      tl.from("#we_are_the > *", {
        duration: 0.2,
        opacity: 0,
        ease: "power2.out",
      })
        .from(
          "#mods > *",
          {
            duration: 0.8,
            ease: "power2.out",
            yPercent: 200,
            stagger: {
              amount: 0.2,
            },
          },
          "<"
        )
        .to(
          path,
          {
            duration: 1.5,
            ease: "power2.out",
            strokeDashoffset: 0,
          },
          "<"
        )
        .from(
          "#red",
          {
            opacity: 0,
            scale: 0.8,
            transformOrigin: "center center",
          },
          "<"
        )
        .from(
          "#_2023",
          {
            opacity: 0,
            duration: 0.5,
            ease: "power2.out",
            xPercent: -10,
          },
          "-=0.4"
        )
        .from(".intro-section", {
          opacity: 0,
          duration: 0.8,
          ease: "power2.out",
          yPercent: 10,
        })
        .timeScale(0.7);
    </script>
    {% endif %}
  </body>
</html>
