/*Your Custom CSS Goes here*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  word-break: break-word;
}

svg {
  overflow: visible;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--red);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: underline;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utopia */

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
@font-face {
  font-family: 'Brutel-Medium';
  src: url('/fonts/Brutel-Medium.ttf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1240;

  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
}

@media screen and (min-width: 1240px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f-0-min: 18;
  --f-0-max: 20;
  --step-0: calc(((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) * var(--fluid-bp));

  --f-1-min: 21.6;
  --f-1-max: 25;
  --step-1: calc(((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) * var(--fluid-bp));

  --f-2-min: 25.92;
  --f-2-max: 31.25;
  --step-2: calc(((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) * var(--fluid-bp));

  --f-3-min: 31.1;
  --f-3-max: 39.06;
  --step-3: calc(((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) * var(--fluid-bp));

  --f-4-min: 37.32;
  --f-4-max: 48.83;
  --step-4: calc(((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) * var(--fluid-bp));

  --f-5-min: 44.79;
  --f-5-max: 82;
  --step-5: calc(((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) * var(--fluid-bp));
}

h1,
.h1 {
  font-size: var(--step-5);
  line-height: 1.3;
}

h2,
.h2 {
  font-size: var(--step-4);
}

h3,
.h3 {
  font-size: var(--step-2);
  line-height: 1;
}

h4,
.h4,
.intro * {
  font-size: var(--step-1);
}

h5,
body {
  font-size: var(--step-0);
}

/* spacing */

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1240;

  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
}

@media screen and (min-width: 1240px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --fc-3xs-min: (var(--fc-s-min) * 0.25);
  --fc-3xs-max: (var(--fc-s-max) * 0.25);

  --fc-2xs-min: (var(--fc-s-min) * 0.5);
  --fc-2xs-max: (var(--fc-s-max) * 0.5);

  --fc-xs-min: (var(--fc-s-min) * 0.75);
  --fc-xs-max: (var(--fc-s-max) * 0.75);

  --fc-s-min: (var(--f-0-min, 18));
  --fc-s-max: (var(--f-0-max, 20));

  --fc-m-min: (var(--fc-s-min) * 1.5);
  --fc-m-max: (var(--fc-s-max) * 1.5);

  --fc-l-min: (var(--fc-s-min) * 2);
  --fc-l-max: (var(--fc-s-max) * 2);

  --fc-xl-min: (var(--fc-s-min) * 3);
  --fc-xl-max: (var(--fc-s-max) * 3);

  --fc-2xl-min: (var(--fc-s-min) * 4);
  --fc-2xl-max: (var(--fc-s-max) * 4);

  --fc-3xl-min: (var(--fc-s-min) * 6);
  --fc-3xl-max: (var(--fc-s-max) * 6);

  /* T-shirt sizes */
  --space-3xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
  --space-2xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-xs: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp));
  --space-s: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-m: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-l: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp));
  --space-xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
  --space-2xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
  --space-3xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp));

  /* One-up pairs */
  --space-3xs-2xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
  --space-2xs-xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-xs-s: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) * var(--fluid-bp));
  --space-s-m: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-m-l: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) * var(--fluid-bp));

  --space-s-m: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) * var(--fluid-bp));

  --space-l-xl: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) * var(--fluid-bp));
  --space-xl-2xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
  --space-2xl-3xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));

  /* Custom pairs */
  --space-s-l: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-s-min)) * var(--fluid-bp));
}

/* baseline */

html {
  --dark: #000f25;
  --yellow: #fdc544;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4 {
  margin: 0;
  font-family: 'Brutel-Medium', Haettenschweiler, "Franklin Gothic Bold", Charcoal,
    "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}

/* utils  */
.center {
  text-align: center;
}

.yellow {
  color: var(--yellow)
}

/* components */

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  transition: 0.25s ease-out;
  color: var(--yellow);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: var(--space-s-m);
}

.container--sm {
  max-width: 1000px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}


.pad-s {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

.pad-m {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.pad-l {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.pad-xl {
  padding-top: var(--space-2xl);
}

.pad-xl-b {
  padding-bottom: var(--space-2xl);
}

.pad-3xl {
  padding-top: var(--space-3xl);
}

.pad-t {
  padding-top: var(--space-s-m);
}

#logo {
  width: 900px;
  max-width: 80vw;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sponsor__img {
  width: 150px;
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto;
}

.flow>*+* {
  margin-top: 0.5em;
}

.sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 8px var(--red);
  padding: var(--space-s);
  height: 100%;
}

.sponsor img {
  margin-top: auto;
  margin-bottom: auto;
}

.grid {
  --min: 250px;
  --gap: 1rem;

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.sponsors-grid {
  --min: 25ch;
  --gap: 1rem;

  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.intro {
  margin-top: 2.5rem;
}

nav {
  margin-left: var(--space-s-m);
  margin-right: var(--space-s-m);
}

.nav__item:first-child {
  margin-right: auto;
}

.nav__item {
  -webkit-font-smoothing: antialiased;
  padding: 0.25rem 1rem;
}

@media (max-width: 600px) {
  .nav__item {
    font-size: 4vw;
    color: orange;
    padding: 0.25rem;
  }
}

.nav__item:last-child {
  background-color: var(--red);
  border-radius: 99px;
}

.nav__item:last-child a {
  color: white;
}

.attractions {
  --min: 300px;
}

.attractions img {
  width: 400px;
  max-width: 70vw;
  margin: 0 auto;
}

.attractions li:first-child {
  font-size: var(--step-4);
}

.attractions li:nth-of-type(odd) {
  color: var(--blue);
}


.intro-section h1 {
  max-width: 40ch;
}

.cta {
  display: inline-block;
  background-color: white;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 99px;
  color: var(--dark);
}

#stars {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

#stars svg {
  width: 100vw;
  height: 100vh;
  opacity: 0
}

.intro__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.testimonial {
  padding: 2rem 1rem;
  background-color: var(--blue);
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testimonial img {
  border-radius: 99px;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 200px;
  border: solid 3px rgb(93, 202, 248);
}

.testimonial__inner {
  background-color: white;
  padding: 1rem;
  color: var(--dark);
  border-radius: 5px;
}

.testimonial__svg {
  display: none
}

@media (min-width: 900px) {
  .testimonial {
    gap: 90px;
    flex-wrap: nowrap;
  }

  .testimonial__inner {
    position: relative;
    padding: 2rem 3rem;
  }

  .testimonial__svg {
    display: block;
    position: absolute;
    left: 0;
    transform: translateX(-90%);
    top: 3rem;
    width: 60px;
    overflow: visible;
  }
}

.ticket {
  background-color: var(--yellow);
  border-radius: 10px;
  color: var(--dark);
  padding: 1rem;
  margin-top: 4rem;
}

.circle {
  display: none;
}

ul {
  padding-left: 1rem;
}

li {
  position: relative;
  text-align: left;
  padding-left: 30px;
}

li:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 209 209'%3E%3Cpath d='M209,100c-85.91,10.168,-94.16,18.41,-104.32,104.321c-10.17,-85.911,-18.41,-94.153,-104.32,-104.321c85.91,-10.167,94.15,-18.409,104.32,-104.321c10.16,85.912,18.41,94.154,104.32,104.321z' style='fill:rgb(11,156,238);fill-rule:nonzero;'/%3E%3C/svg%3E%0A");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  z-index: 999;
}

@media (min-width: 600px) {

  .ticket {
    padding: 0;
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }

  .book,
  .info {
    position: relative;
    padding: 1rem;
    margin-top: 0
  }

  .info {
    padding-right: 50px;
  }

  .book {
    flex: 0 1 33%;
  }

  .circle {
    display: block;
    position: absolute;
    background-color: var(--dark);
    width: 50px;
    height: 50px;
    right: 100%;
    border-radius: 99px;
  }

  .circle-bottom {
    top: 100%;
    transform: translateY(-30%)
  }

  .circle-top {
    bottom: 100%;
    transform: translateY(30%)
  }

  .dashed {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    width: 2px;
    right: 100%;
    transform: translateX(-24px);
    /* Thickness of the line */
    background-image: linear-gradient(to bottom, var(--dark) 50%, transparent 0%);
    background-position: top;
    background-size: 20px 20px;
    /* Controls the dash/gap pattern size */
    background-repeat: repeat-y
  }

}

.accordion-css {
  max-width: 29em;
  position: relative;
}

.accordion-css__list {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  position: static;
}

.accordion-css__item {
  background-color: white;
  border-radius: .5em;
  list-style: none;
}

.accordion-css__item:after {
  content: none;
}

.accordion-css__item-top {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em 1em 1.5em;
  display: flex;
}

.accordion-css__item-bottom {
  transition: grid-template-rows 0.6s cubic-bezier(0.625, 0.05, 0, 1);
  grid-template-rows: 0fr;
  display: grid;
  position: relative;
  overflow: hidden;
}

[data-accordion-status="active"] .accordion-css__item-bottom {
  grid-template-rows: 1fr;
}

.accordion-css__item-bottom-wrap {
  flex-flow: column;
  height: 100000%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.accordion-css__item-bottom-content {
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.accordion-css__item-h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.3;
  color: var(--dark)
}

.accordion-css__item-icon {
  transition: transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
  background-color: var(--yellow);
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  display: flex;
  transform: rotate(180deg);
}

[data-accordion-status="active"] .accordion-css__item-icon {
  transform: rotate(0.001deg);
}

.accordion-css__item-icon-svg {
  width: 1em;
}

.accordion-css__item-p {
  color: #2c2c2c;
  margin-bottom: 0;
  font-size: .875em;
  line-height: 1.5;
}

.faq {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer {
  text-align: center;
}

.ticket__links {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 1rem;
}