---
layout: default
title: Mods Aid Gallery
path: gallery
---

<!-- Include LightGallery CSS from CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css">


<main>
  <h1 class="center">Mods Aid 2023 Gallery</h1>
  <div class="gallery pad-l">
    {% if gallery.links %} {% for image in gallery.links %}
    <a href="{{ image.image }}" class="image-link">
      <img class="img" src="{{ image.image }}" alt="{{ image.description }}" />
    </a>
    {% endfor %} {% endif %}
  </div>
</main>

   <!-- Include LightGallery JavaScript from CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js" integrity="sha512-jEJ0OA9fwz5wUn6rVfGhAXiiCSGrjYCwtQRUwI/wRGEuWRZxrnxoeDoNc+Pnhx8qwKVHs2BRQrVR9RE6T4UHBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Initialize LightGallery -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var gallery = document.querySelector('.gallery');
            lightGallery(gallery, {
                selector: '.image-link',
            });
        });
    </script>
</body>
</html>





