<section class="container about">
	<div class="testimonial">
		<img src="/static/img/jim.jpg" alt="" />
		<div class="testimonial__inner flow">
			<svg
				class="testimonial__svg"
				viewBox="0 0 418 562"
				version="1.1"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				xml:space="preserve"
				xmlns:serif="http://www.serif.com/"
				style="
					fill-rule: evenodd;
					clip-rule: evenodd;
					stroke-linejoin: round;
					stroke-miterlimit: 2;
				"
			>
				<g id="Artboard1" transform="matrix(0.693056,0,0,1,622.633,-502.31)">
					<rect
						x="-898.387"
						y="502.31"
						width="602.811"
						height="561.498"
						style="fill: none"
					/>
					<clipPath id="_clip1">
						<rect x="-898.387" y="502.31" width="602.811" height="561.498" />
					</clipPath>
					<g clip-path="url(#_clip1)">
						<g
							transform="matrix(-0.00700107,1.43413,-2.43399,-0.00570731,4050.9,-447.132)"
						>
							<path
								d="M670.307,1752.38C544.16,1742.9 1218.85,1778.8 1074,1773.73C997.762,1843.39 919.026,1910.32 837.993,1974.34C809.534,1996.83 767.444,1985.83 753.511,1952.35L670.307,1752.38Z"
								style="fill: white; fill-rule: nonzero"
							/>
						</g>
					</g>
				</g>
			</svg>

			<blockquote>
				First and foremost, I want to say a huge thank you to everyone who has
				supported Sussex Homeless Support over the years. Your support is what
				keeps us going.
				<br />
				SHS is now in its 11th year, and sadly the number of people experiencing
				homelessness continues to rise, with no clear solution in sight. The
				cost of living has doubled in many areas, while our funding has fallen
				by around 27% over the last two years. We’ve already cut everything we
				can without affecting frontline services — and now, quite simply, we
				need to find new funds to keep helping the people who rely on us.
				<br />In December 2019, we took part in the
				<a href="https://www.bigsleepout.com/">World Big Sleep Out.</a> Despite
				one of the worst storms of the year, people showed up in huge numbers.
				The funds raised supported our work for over three years, helping carry
				us through COVID and beyond. That generosity made a real, lasting
				difference. Now, six years on, it’s time to do it again. On 19th April
				2026, we’re coming together for another Sleep Out in Brighton. With
				incredible entertainment, strong community backing, and renewed urgency,
				this event has the power to change lives — and I truly hope you’ll be
				part of it. Thank you, as always, for standing with us.
			</blockquote>
			<p>
				—
				<a href="https://www.bbc.com/news/av/uk-england-sussex-49451155"
					>Jim Deans</a
				>, <cite>Sussex Homeless Support</cite>
			</p>
		</div>
	</div>
</section>

<section class="container container--sm faq flow">
	<h2>FAQ's</h2>
	<div
		data-accordion-close-siblings="true"
		data-accordion-css-init=""
		class="accordion-css"
	>
		<ul class="accordion-css__list">
			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">How does it work?</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								It’s a live gig from 7:00pm to 11:30pm, featuring live bands and
								acts – a great mix of entertainment and music in a
								festival-style atmosphere. This is followed by the Sleep Out
								from midnight until 8:00am.
							</p>
						</div>
					</div>
				</div>
			</li>
			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">What tickets do I need?</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">You have two options:</p>
							<ul>
								<li>
									<a
										href="https://www.seetickets.com/event/brighton-sleep-out-fund-raiser-gig/volks-club/3592478"
										>Live Gig Only</a
									>
									You can buy a ticket through See Tickets for £10. Enjoy the
									live music and leave after the last act at 11:30pm.
								</li>
								<li>
									<a href="https://sussexhomelesssupport.enthuse.com/profile"
										>Sleep Out Registration</a
									>
									You can register for the Sleep Out via our Enthuse page and
									ask friends and family to sponsor you. If you register for the
									Sleep Out, you’ll receive free entry to the live gig earlier
									in the evening.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">
						Can I just turn up for the Sleep Out if I’ve registered?
					</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								Yes. As long as you are in the Sleep Out area before midnight,
								you’re good to go.
							</p>
						</div>
					</div>
				</div>
			</li>

			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">Is the Sleep Out area secure?</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								Yes. The area will be fenced off from the public, but you’ll
								still be sleeping under the stars.
							</p>
						</div>
					</div>
				</div>
			</li>
			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">What happens if it rains?</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								You may get wet, so please bring waterproof clothing. There is
								an overhang at Volks which offers some shelter, but you will
								still be outdoors.
							</p>
						</div>
					</div>
				</div>
			</li>

			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">Can I bring a tent?</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								Yes, but only a pop-up tent, as the ground is solid.
							</p>
						</div>
					</div>
				</div>
			</li>

			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">
						What do I need for the Sleep Out?
					</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								A good sleeping bag, a torch, and something to sleep on such as
								a ground mat or cardboard. You may also want to bring a pillow.
								The idea is to experience, for one night, what sleeping out is
								like.
							</p>
						</div>
					</div>
				</div>
			</li>

			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">
						Can I leave before 8:00am for work?
					</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								Yes. In fact, it’s a great idea to go straight to work and help
								raise awareness of what you’ve done.
							</p>
						</div>
					</div>
				</div>
			</li>

			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">
						Are there toilets available through the night?
					</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								Yes. Festival toilets will be on site, and staff will be present
								throughout the night, including people with lived experience of
								rough sleeping.
							</p>
						</div>
					</div>
				</div>
			</li>

			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">Can I bring food?</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								Yes, please do. Our van will be on site with basic hot dogs and
								hot drinks. It closes at midnight but reopens at 8:00am serving
								bacon rolls.
							</p>
						</div>
					</div>
				</div>
			</li>

			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">
						Can I bring my children? I want them to learn about homelessness.
					</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								Yes, we encourage it. Children must stay with you at all times.
								They cannot enter the bar areas after 9:45pm, but they can
								remain with you in the safe Sleep Out area all night.
							</p>
						</div>
					</div>
				</div>
			</li>

			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">
						I want to Sleep Out with my family (and dogs), but can I do it at
						home?
					</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								Yes. You can Sleep Out in your garden, shed, or even your front
								room in a makeshift camp. It’s not quite under the stars, but
								the support is what matters. Please still register for the Sleep
								Out, fundraise as much as you can, and note in your profile:
								“Sleeping out at home.” You could even Sleep-Out at work – in an
								office, garage, factory, or even a beer garden.
							</p>
						</div>
					</div>
				</div>
			</li>

			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">Where is it hosted?</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								We will be throwing the sleep out at the Volks Bar and Venue.
								<a href="https://maps.app.goo.gl/fgjqWghaso1CDiCa9"
									>3 The Colonnade, Madeira Drive, Brighton, BN2 1PS</a
								>
							</p>
						</div>
					</div>
				</div>
			</li>
			<li data-accordion-status="not-active" class="accordion-css__item">
				<div
					data-hover=""
					data-accordion-toggle=""
					class="accordion-css__item-top"
				>
					<h3 class="accordion-css__item-h3">
						Can I donate instead of taking part?
					</h3>
					<div class="accordion-css__item-icon">
						<svg
							class="accordion-css__item-icon-svg"
							xmlns="http://www.w3.org/2000/svg"
							width="100%"
							viewbox="0 0 36 36"
							fill="none"
						>
							<path
								d="M28.5 22.5L18 12L7.5 22.5"
								stroke="currentColor"
								stroke-width="3"
								stroke-miterlimit="10"
							></path>
						</svg>
					</div>
				</div>
				<div class="accordion-css__item-bottom">
					<div class="accordion-css__item-bottom-wrap">
						<div class="accordion-css__item-bottom-content">
							<p class="accordion-css__item-p">
								Yes – it’s quick and easy, and you play a vital role in
								supporting the most vulnerable.
								<a
									href="https://sussexhomelesssupport.enthuse.com/cf/the-brighton-big-world-sleepout"
									>visit our Enthuse page.</a
								>
								Thank you.
							</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
